*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items : center;
    background-color: #f0f0f0;
}

.item{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

#item3{
    align-self: flex-end;
}